RewriteEngine on
RewriteCond $1 !^(index\.php|resources|robots\.txt)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L,QSA]
RewriteCond %{HTTP_HOST} ^localhost$
RewriteRule ^/?$ "http\:\/\/localhost\/stemoppapp\/Menu\/main" [R=301,L] 
RewriteCond %{HTTP_HOST} ^stemoppapp\.in$ [OR]
RewriteCond %{HTTP_HOST} ^www\.stemoppapp\.in$
RewriteRule ^/?$ "https\:\/\/stemoppapp\.in\/Menu\/main" [R=301,L]

