{% include 'header.html' %}
{% load static %}


                    <div class="container-fluid  page__heading-container">
                        <div class="page__heading">


                            <span style="float:right;" class="h3 hidden-xs hidden-sm">Hello! {{user.first_name}} {{user.last_name}}</span>

                        </div>
                    </div>


                    <div class="container-fluid page__container">




                        <div class="row">

                            <div class="flex" data-perfect-scrollbar>
                                    <div class="list-group list-group-flush">
                                        {% for cc in data %}
                                        <div class="list-group-item d-flex align-items-center" style="padding: 0.5rem 1.25rem; cursor:pointer;">
                                            <span class="avatar mr-3">
                                                <span class="avatar-title rounded-circle" style="background-color: #CF4B91">{{cc.contactperson|slice:":1"}}</span>
                                            </span>
                                            <div class="flex" onclick="$('.company_contact').hide(); $('.contact{{cc.id}}').show();">
                                                <div class="card-title">{{cc.contactperson}}</div>
                                                <div class="card-subtitle">{{cc.designation}}</div>
                                            </div>
                                            <div class="flex" onclick="$('.company_contact').hide(); $('.contact{{cc.id}}').show();">
                                                <div class="card-title">
                                                    {% if cc.type == "primary" %}
                                                    <button class="btn btn-danger" type="button" onclick="window.location.href='/setasalternate/{{cc.company_id}}/{{cc.id}}'">Set as Alternate</button>
                                                    {%else %}
                                                    <button class="btn btn-primary" type="button" onclick="window.location.href='/setasprimary/{{cc.company_id}}/{{cc.id}}'">Set as primary </button>
                                                    {% endif %}
                                                    </div>
                                                
                                            </div>
                                        </div>
                                        <div class="company_contact contact{{cc.id}}" style="display:none;">
                                             <div class="modal-body">
                                                <div class="card card-form col-md-12">
                            <div class="row no-gutters">

                                <div class="col-lg-12 card-form__body card-body">
                                    <form method="post" action="/company/contact/update/{{cc.company_id}}/{{cc.id}}">
                                        {% csrf_token %}

                                        <div class="was-validated">
                                            <div class="form-row">
                                                <div class="col-12 col-md-12">
                                                    <label for="validationSample01">Contact person name</label>

                                                        <input type="text" value="{{cc.contactperson}}" class="form-control"  placeholder="Contact person name" value="" required=""  id="compconname" name="compconname" >

                                                    <div class="invalid-feedback">Please provide a contact person name.</div>
                                                    <div class="valid-feedback">Looks good!</div>
                                                </div>
                                                <div class="col-12 col-md-12 mb-12">
                                                    <label for="validationSample02">Email ID</label>
                                                    <input type="email" class="form-control" value="{{cc.emailid}}" id="emailid" placeholder="Email Id" name="emailid"  required="">
                                                    <div class="invalid-feedback">Please provide a email id.</div>
                                                    <div class="valid-feedback">Looks good!</div>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="col-12 col-md-12 mb-12">
                                                    <label for="validationSample03">Mobile Number</label>
                                                    <input type="text" minlength="10" maxlength="10" value="{{cc.phoneno}}"  class="form-control" id="phoneno" name="phoneno" placeholder="City" required="">


                                                    <div class="invalid-feedback">Please provide a valid number.</div>
                                                    <div class="valid-feedback">Looks good!</div>
                                                </div>





                                            </div>
                                        </div>
                                        <div class="form-row">
                                                <div class="col-12 col-md-12">
                                                    <label for="validationSample01">Draft <sup>optional</sup></label>

                                                    <textarea type="text" name="draft" id="draft" value="{{cc.draft}}" class="form-control"  placeholder="Draft name" ></textarea>


                                                </div>

                                            </div>
                                        <div class="form-row">
                                                <div class="col-12 col-md-12">
                                                    <label for="validationSample01">Designation</label>

                                                        <input type="text" name="designation" value="{{cc.designation}}" class="form-control" id="designation" placeholder="Current Designation" value="" required=""  >

                                                    <div class="invalid-feedback">Please provide a designation.</div>
                                                    <div class="valid-feedback">Looks good!</div>
                                                </div>

                                            </div>
                                        <br>
                                        <button type="submit" class="btn btn-primary">Update</button>


                                    </form>
                                </div>
                            </div>
                        </div>
                </div> <!-- // END .modal-body -->
                                        </div>
                                        {% endfor %}


                                    </div>
                                </div>


                        </div>

                    </div>



{% include 'footer.html' %}