{% include 'header.html' %}
<link href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" type="text/css" >
 <div class="app-chat-container">
                        <div class="row m-0 h-100">
                            <div class="col d-flex flex-column p-0 h-100" data-perfect-scrollbar>










                                <div class="container page__container">




                                   <div class="card card-form col-md-12">
                            <div class="row no-gutters">

                                <style>
                                    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                                      color: black;
                                      opacity: 1; /* Firefox */
                                    }
                                </style>

                                <div class="col-lg-12 card-form__body card-body">
                                    <form method="post" >
                                        {% csrf_token %}
                                        <div class="was-validated">

                                            <div class="form-row">
                                                <div class="col-12 col-md-12 mb-12">
                                                    <label for="validationSample03">Select User</label>
                                                    <select type="text" class="form-control" multiple size="5" name="assign_to" id="id_creator"  required="">
                                                        <option value="">All</option>
                                                        {% for au in users  %}
                                                            <option value="{{au.user.id}}">{{au.name}}</option>
                                                        {% endfor %}
                                                    </select>
                                                    <div class="invalid-feedback">Please provide a valid city.</div>
                                                    <div class="valid-feedback">Looks good!</div>
                                                </div>
                                                <div class="col-12 col-md-6 mb-3">
                                                    <label for="validationSample04">From Date</label>
                                                    <input type="date" class="form-control" name="from_date" value="{{date|date:'Y-m-d'}}" placeholder="State" >
                                                    <div class="invalid-feedback">Please provide a valid state.</div>
                                                    <div class="valid-feedback">Looks good!</div>
                                                </div>
                                                 <div class="col-12 col-md-6 mb-3">
                                                    <label for="to_date">To Date</label>
                                                    <input type="date" class="form-control" name="to_date" value="{{date|date:'Y-m-d'}}" placeholder="State" >

                                                    <div class="invalid-feedback">Please provide a valid state.</div>
                                                    <div class="valid-feedback">Looks good!</div>
                                                </div>
                                                 <div class="col-12 col-md-6 mb-3">
                                                     <div class="text-muted">Action Type</div>
                                                     <input type="text" class="form-control" name="action_type" id="action_type" value="" onclick="open_actiontypeSelection('action_type');" readonly placeholder="Select Action Type" required="">
                                                     <input type="hidden" id="action_type_tables" name="action_type_tables">
                                                </div>

                                                <div class="col-12 col-md-6 mb-3">
                                                    <div class="text-muted">Action Taken</div>
                                                     <input type="text" class="form-control" name="action_taken" id="action_taken" value="" onclick="open_yesnoSelection('action_taken');" readonly placeholder="Select Action Taken" required="">
                                                </div>

                                                <div class="col-12 col-md-6 mb-3">
                                                    <div class="text-muted">Company Category</div>
                                                     <input type="text" class="form-control" name="" id="company_category" value="" onclick="open_companytypeSelection('company_category');" readonly placeholder="Select Company Category" required="">
                                                    <input type="hidden" class="form-control" name="company_category" id="company_category_id" value=""  readonly placeholder="Select Company Category" required="">
                                                </div>
                                                <div class="col-12 col-md-6 mb-3">
                                                    <div class="text-muted">Date Type</div>
                                                     <input type="text" class="form-control"  name="date_type" id="date_type" value="" onclick="open_datetypeSelection('date_type');" readonly placeholder="Select Date Type" required="">
                                                    <input type="hidden" id="date_type_tables" name="date_type_tables">
                                                </div>
                                                <div class="col-12 col-md-6 mb-3">
                                                    <div class="text-muted">Proposal Sent</div>

                                                    <input type="text" class="form-control" name="proposal_sent" id="proposal_sent" value="" onclick="open_proposalyesnoSelection('proposal_sent');" readonly placeholder="Select Proposal Sent" required="">

                                                </div>
                                                <div class="col-12 col-md-6 mb-3">
                                                    <div class="text-muted">Top Spender</div>
                                                    <input type="text" class="form-control" name="top_spender" id="top_spender" value="" onclick="open_spenderyesnoSelection('action_taken');" readonly placeholder="Select Top Spender" required="">

                                                </div>

                                                <div class="row col-12 col-md-12 mb-3" ><h4>Select Status Conversion</h4></div>
                                                <div class="col-12 col-md-6 mb-3">
                                                    <label for="">From</label>
                                                    <select  class="form-control" name="from_status"  placeholder="State" >
                                                        <option value="">All</option>
                                                        {% for st in status %}
                                                        <option value="{{st.id}}">{{st}}</option>
                                                        {% endfor %}
                                                    </select>

                                                    <div class="invalid-feedback">Please provide a valid state.</div>
                                                    <div class="valid-feedback">Looks good!</div>
                                                </div>
                                                <div class="col-12 col-md-6 mb-3">
                                                    <label for="">To</label>
                                                     <select  class="form-control" name="to_status"  placeholder="State" >
                                                        <option value="">All</option>
                                                         {% for st in status %}
                                                         <option value="{{st.id}}">{{st}}</option>
                                                         {% endfor %}
                                                    </select>

                                                    <div class="invalid-feedback">Please provide a valid state.</div>
                                                    <div class="valid-feedback">Looks good!</div>
                                                </div>




                                                <script>



                                                </script>


                                            </div>
                                        </div>

                                        <button class="btn btn-primary" type="submit">Submit</button>
                                    </form>
                                </div>
                            </div>
                        </div>








                                </div>




                            </div>

                        </div>
                    </div>

{% include 'footer.html' %}