{% include 'header.html' %}
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.6.1/css/buttons.dataTables.min.css">
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.print.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.html5.min.js"></script>
 <div class="app-chat-container">
                        <div class="row m-0 h-100">
                            <div class="col d-flex flex-column p-0 h-100" data-perfect-scrollbar>







                                <div class="container page__container">
                                    <div class="card">


                                        <div class="card-header">
                                             <form method="post" style="float:left;">{% csrf_token %}<input type="date" name="from"  value="{{from}}"> <input type="date" value="{{to}}" name="to" > <input type="submit" value="Filter" class=" btn-primary" ></form>

                                        </div>

                                        <div class="card-body text-right">


                        <div class="table-responsive">

                                    <table id="example" class="display" style="width:100%">
                                                    <thead>
                                                        <tr>
                                                            <th>Employee Name</th>

                                                            <th>Total Companies</th>
                                                            <th>Open to Open [RPEM]</th>
                                                            <th>Open[RPEM] to Reachout</th>
                                                            <th>Reachout to Tentative</th>
                                                            <th>Tentative to Positive</th>
                                                            <th>Positive to Very Positive</th>
                                                            <th>Very Positive To Closure</th>
                                                            <th>open to willdolater</th>
                                                            <th>open to not interested</th>
                                                            <th>reachout to will do later</th>
                                                            <th>rechout to not interested</th>
                                                            <th>tentative to will do later</th>
                                                            <th>tentative to not interested</th>
                                                            <th>not interested to reachout</th>
                                                            <th>will do later to reachout</th>
                                                            <th>positive to not interested</th>
                                                            <th>positive to will do later</th>



                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for d in users %}
<!--                                                        <tr style="cursor:pointer;" onclick="window.open('/employee-data/{{d.user_id}}?from={{from}}&to={{to}}','_blank')">-->
                                                    <tr>
                                                            <td>{{d.name}}</td>
                                                            <td >{{d.total}}</td>
                                                            <td >{{d.open_to_open_rpem}}</td>
                                                            <td >{{d.open_rpem_to_reachout}}</td>
                                                            <td >{{d.reachout_to_tentative}}</td>
                                                            <td >{{d.tentative_to_verypositive}}</td>
                                                        <td >{{d.positive_to_verypositive}}</td>
                                                        <td >{{d.verypositive_to_closure}}</td>
                                                            <td>{{d.open_to_willdolater}}</td>
                                                            <td>{{d.open_to_negative}}</td>
                                                            <td>{{d.reachout_to_willdolater}}</td>
                                                            <td>{{d.rechout_negative}}</td>
                                                            <td>{{d.tentative_willdolater}}</td>
                                                            <td>{{d.tentative_negative}}</td>
                                                            <td>{{d.negativereachout}}</td>
                                                            <td>{{d.willdolater_reachout}}</td>
                                                            <td>{{d.positive_negative}}</td>
                                                            <td>{{d.positive_willdolater}}</td>



                                                        </tr>

                                                    {% endfor %}


                                                    </tbody>
                                                    <tfoot>
                                                        <tr>
                                                             <th>Employee Name</th>

                                                            <th>Total Companies</th>
                                                            <th>Open to Open [RPEM]</th>
                                                            <th>Open[RPEM] to Reachout</th>
                                                            <th>Reachout to Tentative</th>
                                                            <th>Tentative to Positive</th>
                                                            <th>Positive to Very Positive</th>
                                                            <th>Very Positive To Closure</th>
                                                            <th>open to willdolater</th>
                                                            <th>open to not interested</th>
                                                            <th>reachout to will do later</th>
                                                            <th>rechout to not interested</th>
                                                            <th>tentative to will do later</th>
                                                            <th>tentative to not interested</th>
                                                            <th>not interested to reachout</th>
                                                            <th>will do later to reachout</th>
                                                            <th>positive to not interested</th>
                                                            <th>positive to will do later</th>



                                                        </tr>
                                                    </tfoot>
                                                </table>
                                                </div>
                                        </div>
                                        <script>

                                            $(document).ready(function() {
                                                $('#example').DataTable({
                                                dom: 'Bfrtip',
                                                buttons: [
                                                    {
                                                    extend:'excelHtml5',
                                                    title:'Conversion Report between {{from}} and {{to}}',
                                                    text: 'Download Excel',
                                                 }

                                                ]
                                            });

                                            } );
                                        </script>

                                    </div>
                                </div>




                            </div>

                        </div>
                    </div>

{% include 'footer.html' %}