{% include 'header.html' %}
{% load static %}

<form method="post" action="/company/contact/add">
    <input type="hidden" value="{{id}}" name="compname">
    {% csrf_token %}
                 <div class="modal-body">
                    <div class="card card-form col-md-12">
                            <div class="row no-gutters">

                                <div class="col-lg-12 card-form__body card-body">


                                        <div class="was-validated">
                                            <div class="form-row">
                                                <div class="col-12 col-md-12">
                                                    <label for="validationSample01">Contact person name</label>

                                                        <input type="text" class="form-control"  placeholder="Contact person name" value="" required=""  id="compconname" name="compconname" >

                                                    <div class="invalid-feedback">Please provide a contact person name.</div>
                                                    <div class="valid-feedback">Looks good!</div>
                                                </div>
                                                <div class="col-12 col-md-12 mb-12">
                                                    <label for="validationSample02">Email ID</label>
                                                    <input type="email" class="form-control" name="emailid" placeholder="Email Id" name="website"  required="">
                                                    <div class="invalid-feedback">Please provide a email id.</div>
                                                    <div class="valid-feedback">Looks good!</div>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="col-12 col-md-12 mb-12">
                                                    <label for="validationSample03">Mobile Number</label>
                                                    <input type="number" minlength="10" maxlength="10"  class="form-control" id="phoneno" name="phoneno" placeholder="City" required="">


                                                    <div class="invalid-feedback">Please provide a valid number.</div>
                                                    <div class="valid-feedback">Looks good!</div>
                                                </div>





                                            </div>
                                        </div>
                                        <div class="form-row">
                                                <div class="col-12 col-md-12">
                                                    <label for="validationSample01">Draft <sup>optional</sup></label>

                                                    <textarea type="text" name="draft" id="draft" class="form-control"  placeholder="Draft name" ></textarea>


                                                </div>

                                            </div>
                                        <div class="form-row">
                                                <div class="col-12 col-md-12">
                                                    <label for="validationSample01">Designation</label>

                                                        <input type="text" name="designation" class="form-control" id="designation" placeholder="Current Designation" value="" required=""  >

                                                    <div class="invalid-feedback">Please provide a designation.</div>
                                                    <div class="valid-feedback">Looks good!</div>
                                                </div>

                                            </div>



                                </div>
                            </div>
                        </div>
                </div> <!-- // END .modal-body -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" onclick="window.location.href='/company/{{id}}'">Close</button>
                    <button type="submit" class="btn btn-primary" >Add</button>

                </div> <!-- // END .modal-footer -->

</form>

{% include 'footer.html' %}