{% include 'header.html' %}
{% load static %}


                    <div class="container-fluid  page__heading-container">
                        <div class="page__heading">

                            <form method="post" style="float:left;">{% csrf_token %}<input type="date" value="{{from}}" name="from" > <input type="date" value="{{to}}" name="to" > <input type="submit" value="Filter" class=" btn-primary" ></form>
                            <spna class=" hidden-sm hidden-xs h4 text-right" style="float:right;">{{userdetails}} [
                                {{all_tasks}} ]</spna>
                        </div>
                    </div>


                    <div class="container-fluid page__container">




                        <div class="row">



                            <div class="col-md-4">
                                <div class="card">
                                    <div class="card-header card-header-large bg-white">
                                            <h3 class="card-title">ACTION WITH YES [ {{completedcount}} ]</h3>
                                    </div>
                                    <div class="table-responsive">

                                    <table class="table table-striped border-bottom mb-0" id="myTable112">
                                        <thead>
                                        <tr>

                                            <th style="width: 150px;">

                                            </th>
                                            <th class="text-right" style="width: 100px">

                                            </th>

                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for dt in completed %}
                                        <tr>

                                            <td style="width: 200px;">
                                                <div>
                                                    <a href="/company/{{dt.cid.cmpid.id}}" class="badge badge-soft-primary"><i class="material-icons icon-16pt mr-1">business</i> {{dt.cid.cmpid.compname|slice:'0:20'}}..</a>
                                                </div>
                                                <small class="text-muted">({{dt.remarks|slice:"0:12"}}..)</small> &nbsp;&nbsp;&nbsp;<small class="text-muted">{{dt.cid.creator.first_name}} </small> >>>>
                                            </td>

                                            <td class="text-right" style="width: 60px">
                                                <div><a class="badge badge-soft-success" href="#">{{dt.status}}</a></div>
                                                <small class="text-muted">{{dt.appointmentdatetime }}</small>
                                            </td>

                                        </tr>
                                        {% endfor %}
                                        </tbody>





                                    </table>
                                    </div>

                                    <div class="card-footer text-center border-0">
<!--                                        <a class="text-muted" href="#">View All (391)</a>-->
                                    </div>

                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="card">
                                    <div class="card-header card-header-large bg-white">
                                            <h3 class="card-title"> ACTION WITH NO [ {{completed_with_no_count}} ]</h3>
                                    </div>
                                    <div class="table-responsive">

                                    <table class="table table-striped border-bottom mb-0" id="myTable113">
                                        <thead>
                                        <tr>

                                            <th style="width: 150px;">

                                            </th>
                                            <th class="text-right" style="width: 100px">

                                            </th>

                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for dt in completed_with_no %}
                                        <tr>

                                            <td style="width: 200px;">
                                                <div>
                                                    <a href="/company/{{dt.cid.cmpid.id}}" class="badge badge-soft-primary"><i class="material-icons icon-16pt mr-1">business</i> {{dt.cid.cmpid.compname|slice:'0:20'}}..</a>
                                                </div>
                                                <small class="text-muted">({{dt.remarks|slice:"0:12"}}..)</small> &nbsp;&nbsp;&nbsp;<small class="text-muted">{{dt.cid.creator.first_name}} </small> >>>>
                                            </td>

                                            <td class="text-right" style="width: 60px">
                                                <div><a class="badge badge-soft-success" href="#">{{dt.status}}</a></div>
                                                <small class="text-muted">{{dt.appointmentdatetime }}</small>
                                            </td>

                                        </tr>
                                        {% endfor %}
                                        </tbody>





                                    </table>
                                    </div>

                                    <div class="card-footer text-center border-0">
<!--                                        <a class="text-muted" href="#">View All (391)</a>-->
                                    </div>

                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="card">
                                    <div class="card-header card-header-large bg-white">
                                        <h3 class="card-title">PENDING [ {{pendingcount}} ]</h3>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table table-striped border-bottom mb-0" id="myTable111">
                                        <thead>
                                        <tr>

                                            <th style="width: 150px;">

                                            </th>

                                            <th class="text-right" style="width: 100px">

                                            </th>

                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for dt in pending %}
                                        <tr>

                                            <td style="width: 200px;">
                                                <div>
                                                    <a href="/company/{{dt.cid.cmpid.id}}" class="badge badge-soft-primary"><i class="material-icons icon-16pt mr-1">business</i> {{dt.cid.cmpid.compname|slice:'0:20'}}..</a>
                                                </div>
                                                <small class="text-muted">({{dt.remarks|slice:"0:12"}}..)</small> &nbsp;&nbsp;&nbsp;<small class="text-muted">{{dt.cid.creator.first_name}} </small> >>>>
                                            </td>

                                            <td class="text-right" style="width: 60px">
                                                <div><a class="badge badge-soft-success" href="#">{{dt.status}}</a></div>
                                                <small class="text-muted">{{dt.appointmentdatetime }}</small>
                                            </td>

                                        </tr>
                                        {% endfor %}
                                        </tbody>





                                    </table>
                                    </div>

                                    <div class="card-footer text-center border-0">
<!--                                        <a class="text-muted" href="#">View All (391)</a>-->
                                    </div>

                                </div>
                            </div>
                            <script>
                                $('#myTable111').dataTable({});
                                $('#myTable112').dataTable({});
                                $('#myTable113').dataTable({});
                            </script>
                        </div>

                    </div>



{% include 'footer.html' %}