{% include 'header.html' %}
 <div class="app-chat-container">
                        <div class="row m-0 h-100">
                            <div class="col d-flex flex-column p-0 h-100" data-perfect-scrollbar>







                                <div class="container page__container">
                                    <div class="card">


                                        <div class="card-header">

                                            <h3 class="text-right card-title"> </h3>
                                        </div>

                                        <div class="card-body text-right">



                        <div class="table-responsive">

                                    <table id="example" class="display" style="width:100%">
                                                    <thead>
                                                        <tr>
                                                            <th>Employee Name</th>

                                                            <th>Total Companies</th>

                                                            <th>Open </th>
                                                            <th>Open [RPEM] </th>
                                                            <th>Reachout </th>
                                                            <th>Tentative </th>
                                                            <th>Will-Do-Later </th>
                                                            <th>Not-Interest </th>
                                                            <th>Positive </th>
                                                            <th>Very Positive </th>
                                                            <th>Closure </th>



                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for d in users %}
<!--                                                        <tr style="cursor:pointer;" onclick="window.open('/employee-data/{{d.user_id}}?from={{from}}&to={{to}}','_blank')">-->
                                                    <tr>
                                                            <td>{{d.name}}</td>
                                                            <td >{{d.totaltaks}}</td>

                                                            <td >{{d.open}}</td>
                                                            <td >{{d.open_rpem}}</td>
                                                            <td >{{d.reachout}}</td>
                                                            <td >{{d.tantative}}</td>
                                                            <td >{{d.will_do_later}}</td>
                                                            <td >{{d.not_interested}}</td>
                                                            <td >{{d.positive}}</td>
                                                        <td >{{d.very_positive}}</td>
                                                            <td >{{d.closure}}</td>



                                                        </tr>

                                                    {% endfor %}


                                                    </tbody>
                                                    
                                                </table>
                                                </div>
                                        </div>
                                        <script>

                                            $(document).ready(function() {
                                                var table = $('#example').DataTable();

                                            } );
                                        </script>

                                    </div>
                                </div>




                            </div>

                        </div>
                    </div>

{% include 'footer.html' %}