{% include 'header.html' %}
{% load static %}


                    <div class="container-fluid  page__heading-container">
                        <div class="page__heading">

                            <form method="post" style="float:left;">{% csrf_token %}
                                <select name="user"><option value="">All</option>{% for us in users %}<option value="{{us.user_id}}">{{us.name}}</option>{% endfor %}</select>
                                
                                <input type="date" name="from" value="{{from}}"> <input type="date" name="to" value="{{to}}">
                               
                                <input type="submit" value="Filter" class=" btn-primary" ></form>

                                   

                        </div>
                    </div>


                    <div class="container-fluid page__container">




                        <div class="row">



                            <div class="col-md-12 ">
                                <div class="card">
                                    <div class="card-header card-header-large bg-white d-flex align-items-center">
                                        <h4 class="card-header__title flex m-0">PENDING TASK [ {{all}} ] </h4>
<!--                                        <div data-toggle="flatpickr" data-flatpickr-wrap="true" data-flatpickr-static="true" data-flatpickr-mode="range" data-flatpickr-alt-format="d/m/Y" data-flatpickr-date-format="d/m/Y">-->
<!--                                            <a href="javascript:void(0)" class="link-date" data-toggle>13/03/2018 <span class="text-muted mx-1">to</span> 20/03/2018</a>-->
<!--                                            <input class="d-none" type="hidden" value="13/03/2018 to 20/03/2018" data-input>-->
<!--                                        </div>-->
                                    </div>
                                <table id="myTable111">
                                <thead>
                                     <tr><th></th></tr>
                                </thead>
                                    <tbody>
                                    {% for em in data %}
                                    <tr>
                                        <td>
                                            <div class="list-group-item list-group-item-action d-flex align-items-center row" style="cursor:pointer;" >


                                                <div class="col-md-8">
                                                    <small class="text-muted"> Task Date:- {{em.appointmentdatetime|date:"Y-m-d H:i:s"}}</small> <small class="text-muted"> Assigned:- {{em.assignedto.first_name}} {{em.assignedto.last_name}}</small>
                                                    <div class="d-flex align-items-middle">

                                                       <i class="material-icons fa fa-building"></i> &nbsp;<strong class="text-15pt mr-1">{{em.cid.cmpid.compname}} </strong>


                                                    </div>

                                                </div>
                                                <div class="col-md-4">
                                                <span style="background:{{em.status.color}};">{{em.status}}</span>
                                                <button type="button" class="btn btn-primary" onclick="window.location.href='/forward-to-current-date/{{em.cid_id}}/{{em.id}}'">Do it now<i class="material-icons icon-muted ml-3">arrow_forward</i></button>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                            {% endfor %}
                                    </tbody>
                                </table>
                                </div>
                            </div>


                            <script>
                                $('#myTable111').dataTable({});
                            </script>
                        </div>

                    </div>



{% include 'footer.html' %}